extends layout

block content
  img(src='images/maths2.jpg')
  h1 My name is Maths Genius.
  h3 Welcome to #{title}. This is my first maths website.
  div 
    a(href='http://www.teachingmoney.co.uk/eurosite/games/presentsEURO.html') I like this maths game

